<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>There is currently <%= @game.players%> players
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>There is currently <%= @game.draw%> players
  <strong>Description:</strong>
  <%= @game.draw %>
</p>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
